In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Jupyter").getOrCreate()

25/04/08 17:21:40 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
%%sql

SELECT * FROM nessie.sales.sales
LIMIT 5

+---------------------+------------------------+-------------------------+-----------------------+----------+-------------+------------+------------+------------+
| productcategoryname | productsubcategoryname |             productname | salesterritorycountry |   region | salesamount |  orderdate |       year |      month |
+---------------------+------------------------+-------------------------+-----------------------+----------+-------------+------------+------------+------------+
|               Bikes |             Road Bikes |        Road-150 Red, 62 |                Canada | Americas |     3578.27 | 2010-12-29 | 2010-01-01 | 2010-12-01 |
|               Bikes |         Mountain Bikes | Mountain-100 Silver, 44 |                France |   Europe |     3399.99 | 2010-12-29 | 2010-01-01 | 2010-12-01 |
|               Bikes |         Mountain Bikes | Mountain-100 Silver, 44 |         United States | Americas |     3399.99 | 2010-12-29 | 2010-01-01 | 2010-12-01 |
|               Bikes |             Road Bikes |      Road-650 Black, 62 |         United States | Americas |    699.0982 | 2010-12-29 | 2010-01-01 | 2010-12-01 |
|               Bikes |         Mountain Bikes | Mountain-100 Silver, 44 |             Australia |  Oceania |     3399.99 | 2010-12-29 | 2010-01-01 | 2010-12-01 |
+---------------------+------------------------+-------------------------+-----------------------+----------+-------------+------------+------------+------------+